@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

html {
  position: relative;
}

body {
  margin-top: 5rem !important;
  font-family: 'Ubuntu', sans-serif !important;
}

.comments {
  margin-top: 2em;
  background-color: white;
  padding: 2rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 3em;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  line-height: 60px;
  overflow: auto;
}

.rounded-top {
  border-top-left-radius: .25rem!important;
  border-top-right-radius: .25rem!important;
}