:root {
    --accent: #3895EB;
    --bg-light: #353535;
    --bg-dark: #2B2B2B;
    --bg-light1: red;
    --bg-light2: orange;
    --bg-light3: yellow;
    --bg-light4: green;
    --bg-light5: blue;
    --bg-light6: purple;

}

* {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

a {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 7em;
}

.nav {
    background: var(--bg-light1);
    padding: 1em;
    color: white;
    height: 20vh;
}

.section__sub--intro {
    font-size: 4em;
}

.intro {
    background: var(--bg-light2);
    padding: 1em;
    color: white;
    height: 70vh;
}

.about {
    background: var(--bg-light3);
    padding: 1em;
    height: 90vh;
}

.projects {
    background: var(--bg-light4);
    padding: 1em;
    color: white;
    height: 90vh;
}

.social {
    background: var(--bg-light5);
    padding: 1em;
    color: white;
    height: 90vh;
}

footer {
    background: var(--bg-light6);
    padding: 1rem;
    color: white;
    height: 10vh
}